@model GlavniViewModel

@{
    ViewData["Title"] = "Naslovna strana";
}

<div class="text-center">
    <form asp-action="Pretraga">
        <input type="search" style="width:75%" name="Id"></input>
        <input type="submit" value="Pretraga" />
    </form>
    <br />
</div>
<br />

<div style="display: flex; justify-content: space-around">
    <div style="border: 1px solid black; width: 50%; height:600px">
        <h3>Vas store</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naziv artikla
                    </th>
                    <th>
                        Kolicina
                    </th>
                    <th>
                        Cijena
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.artikli)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NazivGarderobe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kolicina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cijena)
                        </td>
                        @if (item.StatusNarudzbe == 0)
                        {
                            <td style="color: dimgray"> Cekanje</td>
                        }
                        @if (item.StatusNarudzbe == 1)
                        {
                            <td style="color: green"> Potvrdjena </td>
                        }
                        @if (item.StatusNarudzbe == 2)
                        {
                            <td style="color: red"> Odbijena </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div style="border: 1px solid black; width: 48%; height:600px">
        <h3>Obavijesti</h3>
        <table class="table">
            <tbody>
                @foreach (var item in Model.obavijesti)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.sadrzaj)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<br />
@if (User.IsInRole("Korisnik"))
{
    <form asp-controller="Narucivanje" asp-action="Index">
        <input type="submit" value="Dizajniranje" />
    </form>
}
<br />

<div style="display: flex; justify-content: space-around">
    <div style="border: 1px solid black; width: 90%; height:100px">
        <h3>Nedavne prodaje</h3>
        <table class="table">
            <tbody>
                @foreach (var item in Model.obavijestiNarucivanja)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.sadrzaj)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
